<ion-header>
  <ion-navbar color="primary">
    <ion-title>Вход в личный кабинет</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form novalidate (ngSubmit)="handleSubmit()">
    <ion-list inset [formGroup]="formGroup">
      <ion-item>
        <ion-label>Логин</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-label
        *ngIf="formControls.email.invalid && formControls.email.dirty"
        error>
        <span *ngIf="formControls.email.hasError('required')">
          {{ staticModel.errorMessages.required }}
        </span>
        <span *ngIf="formControls.email.hasError('pattern')">
          {{ staticModel.errorMessages.email }}
        </span>
      </ion-label>

      <ion-item>
        <ion-label>Пароль</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-label
        *ngIf="formControls.password.invalid && formControls.password.dirty"
        error>
        <span *ngIf="formControls.password.hasError('required')">
          {{ staticModel.errorMessages.required }}
        </span>
        <span *ngIf="formControls.password.hasError('minlength')">
          {{ staticModel.errorMessages.minLength }}
        </span>
      </ion-label>
    </ion-list>

    <div padding text-center>
      <button
        ion-button
        type="submit"
        color="primary">
        Войти
      </button>
      <button
        (click)="gotoRegister()"
        ion-button
        block
        clear
        type="button"
        color="secondary">
        Зарегистрироваться
      </button>
      <button
        (click)="forgotPassword()"
        ion-button
        block
        clear
        type="button"
        color="light">
        Востановить пароль
      </button>
    </div>
  </form>
</ion-content>
