<ion-header>
  <ion-navbar color="primary">
    <ion-title>Регистрация</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form novalidate (ngSubmit)="handleSubmit()">
    <ion-list [formGroup]="formGroup">
      <ion-item-group>
        <ion-item-divider color="primary">Информация для учетной записи</ion-item-divider>

        <ion-item>
          <ion-label stacked>Адрес електронной почты</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-label
          error
          *ngIf="formControls.email.invalid && formControls.email.dirty">
          <span *ngIf="formControls.email.hasError('required')">
            {{ staticModel.errorMessages.required }}
          </span>
          <span *ngIf="formControls.email.hasError('pattern')">
            {{ staticModel.errorMessages.email }}
          </span>
        </ion-label>

        <ion-item>
          <ion-label stacked>Пароль</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-label
          error
          *ngIf="formControls.password.invalid && formControls.password.dirty">
          <span *ngIf="formControls.password.hasError('required')">
            {{ staticModel.errorMessages.required }}
          </span>
          <span *ngIf="formControls.password.hasError('minlength')">
            {{ staticModel.errorMessages.password }}
          </span>
        </ion-label>

        <ion-item>
          <ion-label stacked>Мобильный телефон</ion-label>
          <ion-input type="tel" formControlName="phoneNumber"></ion-input>
        </ion-item>
        <ion-label
          error
          *ngIf="formControls.phoneNumber.invalid && formControls.phoneNumber.dirty">
          <span *ngIf="formControls.phoneNumber.hasError('required')">
            {{ staticModel.errorMessages.required }}
          </span>
          <span *ngIf="formControls.phoneNumber.hasError('pattern')">
            {{ staticModel.errorMessages.phoneNumber }}
          </span>
        </ion-label>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="primary">Персональная информация</ion-item-divider>

        <ion-item>
          <ion-label stacked>Имя</ion-label>
          <ion-input type="text" formControlName="firstName"></ion-input>
        </ion-item>
        <ion-label
          error
          *ngIf="formControls.firstName.invalid && formControls.firstName.dirty">
          {{ staticModel.errorMessages.required }}
        </ion-label>

        <ion-item>
          <ion-label stacked>Фамилия</ion-label>
          <ion-input type="text" formControlName="lastName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Отчество</ion-label>
          <ion-input type="text" formControlName="patronymic"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Дата рождения</ion-label>
          <ion-datetime
            [cancelText]="staticModel.cancelText"
            [doneText]="staticModel.doneText"
            [monthNames]="staticModel.monthNames"
            formControlName="dob"
            displayFormat="D MMMM YYYY"
            pickerFormat="D/MMMM/YYYY">
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label stacked>Страна</ion-label>
          <ion-select
            [cancelText]="staticModel.cancelText"
            [okText]="staticModel.doneText"
            formControlName="country">
            <ion-option
              *ngFor="let country of staticModel.countries; let ind = index;"
              [selected]="ind === 0"
              [value]="country.value">
              {{ country.label }}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-label
          error
          *ngIf="formControls.country.invalid && formControls.country.dirty">
          {{ staticModel.errorMessages.required }}
        </ion-label>

        <ion-item>
          <ion-label stacked>Город</ion-label>
          <ion-input type="text" formControlName="city"></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="primary">Информация дистрибьютера Гербалайф</ion-item-divider>

        <ion-item>
          <ion-label stacked>Статус</ion-label>
          <ion-select
            [cancelText]="staticModel.cancelText"
            [okText]="staticModel.doneText"
            formControlName="status">
            <ion-option
              *ngFor="let status of staticModel.statuses; let ind = index;"
              [selected]="ind === 0"
              [value]="status.value">
              {{ status.label }}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-label
          error
          *ngIf="formControls.status.invalid && formControls.status.dirty">
          {{ staticModel.errorMessages.required }}
        </ion-label>

        <ion-item>
          <ion-label stacked>Номер ID</ion-label>
          <ion-input type="text" formControlName="distributorId"></ion-input>
        </ion-item>
        <ion-label
          error
          *ngIf="formControls.distributorId.invalid && formControls.distributorId.dirty">
          {{ staticModel.errorMessages.required }}
        </ion-label>

        <ion-item>
          <ion-label stacked>Дата начала работы в Гербалайф</ion-label>
          <ion-datetime
            [cancelText]="staticModel.cancelText"
            [doneText]="staticModel.doneText"
            [monthNames]="staticModel.monthNames"
            min="1980"
            formControlName="dateAttended"
            displayFormat="MMMM YYYY"
            pickerFormat="MMMM/YYYY">
          </ion-datetime>
        </ion-item>
        <ion-label
          error
          *ngIf="formControls.dateAttended.invalid && formControls.dateAttended.dirty">
          {{ staticModel.errorMessages.required }}
        </ion-label>

        <ion-item>
          <ion-label fixed>Вышестоящий спонсор</ion-label>
          <button type="button" ion-button item-right>
            Найти
            &nbsp;
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-item>
      </ion-item-group>
    </ion-list>

    <div padding text-center>
      <button
        type="submit"
        ion-button
        color="primary">
        Зарегистрироваться
      </button>
      <button
        type="button"
        (click)="gotoLogin()"
        ion-button
        block
        clear
        color="secondary">
        Войти
      </button>
    </div>
  </form>

</ion-content>
